option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_PORT: 4000
    AUTH_USERNAME: hlibko
    AUTH_PASSWORD: TEST_PASSWORD
    APP_URL: http://localhost:4000
    DB_HOST: j-store-cart-db.c5kym0uqosil.eu-north-1.rds.amazonaws.com
    DB_PORT: 5432
    DB_NAME: cartdb
    DB_USERNAME: postgres
    DB_PASSWORD: oUWvQZdDcOyKSSMpP3Rt
    DB_SSL: true
    NODE_ENV: production